@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap");

:root {
  --purple1: purple;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  /* height: auto; */
  font-family: "Antonio", sans-serif;
  background-color: whitesmoke;
  /* overflow: hidden; */
}

.nav-section {
  margin-top: 30px;
  /* top: 5px; */
  height: 10px;
  /* width: 100%; */
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.nav-wrapper {
  width: 90%;
  height: auto;
  position: absolute;
  z-index: 1;
  display: flex;
}
.nav-wrapper a {
  margin: auto;
  font-size: 34px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.8s;
}
.nav-wrapper a:first-child {
  color: var(--purple1);
  text-shadow: none;
}
.nav-wrapper a:first-child:hover {
  letter-spacing: 0;
}
.nav-wrapper a:hover {
  transition: 0.8s;
  letter-spacing: 15px;
}

/* END NAV */

/* HERO LANDING */

.portfolio-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 100px;
}

.portfolio-img img {
  position: relative;
  width: 100%;
  max-width: 1700px;
}

.slogan-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.hero-wrapper {
  width: 95%;

  height: 800px;
  max-height: 50vw;
  background-color: purple;
  border-radius: 70px;
  display: flex;
  border: 4px orange solid;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
}
.slogan-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* float: left; */
  /* justify-content: space-around; */
}
.slogan-txt {
  margin: auto;
  position: relative;
  height: 20%;
  margin-left: 10%;
  margin-top: 2%;
}

.slogan-txt div {
  color: white;
  position: relative;
  font-size: 11vw;
  /* line-height: 120px; */
  letter-spacing: 0.3rem;
  line-height: 1;
  z-index: 1;
  transition: 1s;
}

.slogan-txt .are {
  left: 20vw;
}

.slogan-txt div:hover {
  transition: 1s;
  letter-spacing: 40px;
}

/* SECTION START */
.section {
  position: relative;
  z-index: 0;
  width: 100%;
  /* height: 100%; */
  margin-top: 65vw;
}

.phone-full {
  width: 25%;
  max-width: 400px;
  position: absolute;
  top: 64vw;
  margin-left: 100px;
  z-index: 1;
  transform: translateX(-500px);
  opacity: 0;
}

.loaded {
  transform: translateX(0px);
  transition: 3s;
  opacity: 1;
}
.what-container {
  background-color: orange;
  border: 4px purple solid;
  box-sizing: border-box;
  width: 95%;
  height: 70%;
  margin: auto;
  border-radius: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.what-wrapper {
  position: relative;
  font-size: 4vw;
  text-align: right;
  justify-content: right;
  color: white;
}

.what-txt span {
  display: block;
  margin: 50px;
  /* transition: 0.8s ease-out; */
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.reveal-spread-x {
  letter-spacing: 2px;
  transition: 1s;
}
.reveal-spread-x.active {
  letter-spacing: 8px;
  transition: 1s;
}

/* END what  */

/* MODEL */

.model-txt-wrapper {
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.model-txt {
  font-size: 4em;
  justify-content: center;
}
.line {
  position: relative;
  bottom: 25%;
  width: 100%;
  height: 7px;
  background-color: purple;
  /* position: s; */
  margin: auto;
  /* top: 80%; */
  transform-style: preserve-3d;
  transform: rotateY(-89deg);
  transition: 2s;
}

.line.show {
  transition: 2.5s ease-in;

  transform: rotateY(0deg);
}

.reveal-y {
  transform: translateY(180px);
  transition: 2s;
  opacity: 0;
}

.reveal-y.active {
  transform: translateY(0px);
  opacity: 1;
  transition: 2s;
}

.model-container {
  width: 100vw;
  /* height: 1000px; */
  /* margin: auto; */
  border-radius: 70px;
  display: flex;
  justify-content: center;
}

.object-wrapper {
  width: 90%;
  height: 700px;
}

.model {
  width: 100%;
  height: 100%;
  border-radius: 300px;
  border: 15px solid purple;
  box-sizing: border-box;
  /* width: 50px; */
  transform-style: preserve-3d;
  transform: rotateY(-89deg) rotateZ(4deg);
  transition: 2s;
}

.model.show {
  transition: 2.5s ease-in;
  /* transform: scaleX(1); */
  transform: rotateZ(0deg) rotateY(0deg);
}
/* END Model */

/* FOOTER  */

footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  position: absolute;
  width: 100%;
  height: 540px;
  margin-top: 20%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 12%,
    orange 20%,

    purple 100%
  );
  overflow: hidden;
}
.footer-row {
  width: 80%;

  /* background-color: white; */
  display: flex;
  margin-top: 120px;
  padding: 30px;
  position: relative;
left: 140px;
  justify-content: space-between;
}
.footer-col {
  /* margin: auto; */
  /* margin-left: 10vw; */
  /* margin-right:150px; */
  margin-top: 0;
}
.footer-container {
  position: relative;
  /* transform: translateY(520px); */
}
.footer-container.show {
  transition: 2s;
  transform: translateY(0px);
}
footer ul {
  list-style: none;

  /* padding: 20px; */
  position: absolute;
  /* margin: 5px; */
}
footer li {
  position: relative;
  padding-bottom: 13px;
  margin-left: 0;
  left: -30px;
}
footer li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.8s;
}
footer li a:hover {
  transition: 0.8s;
  letter-spacing: 2px;
  padding-left: 12px;
}

footer h4 {
  text-transform: uppercase;
  margin: 10px;
  user-select: none;
  color: white;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}

.find-us  ul li{
  position: relative;
margin-left: 25px;


}
i {
  font-size: 2vw;
  color: orange;
  transition: .8s;
  left: 50%;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.247);
}

i:hover {
  color: purple;
  transition: .8s;
}
/* END FOOTER */

@media screen and (max-width: 900px) {
  .nav-section {
    margin-top: 20px;
  }
  .nav-wrapper a:hover {
    transition: none;
    letter-spacing: normal;
  }

  .nav-wrapper a {
    margin: auto;
    font-size: 1.5em;

    transition: none;
    letter-spacing: normal;
    color: black;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .hero-wrapper {
    border-radius: 30px;
  }

  .portfolio-img {
    margin-top: 10vh;
  }

  .section {
    margin-top: 95vw;
  }

  .phone-full {
    width: 32%;
    max-width: 400px;
    position: absolute;
    margin-top: 70vw;
    margin-left: 400px;
    z-index: 1;
    opacity: 0;
  }

  .slogan-txt {
    margin-left: 20vw;
  }

  .slogan-txt div {
    transition: none;
    letter-spacing: normal;
  }

  .slogan-txt div:hover {
    transition: none;
    letter-spacing: normal;
  }

  .slogan-txt .are {
    left: 80px;
  }

  .what-container {
    border-radius: 30px;
    height: 55vw;
    /* background-color: red; */
    /* margin-top: 300px; */
    /* min-height: 250px; */
  }

  .what-txt span {
    transition: none;
    margin: 30px;
  }
  .what-txt span:hover {
    transition: none;
    letter-spacing: normal;
  }

  .phone-full {
    max-width: 200px;
    top: 70px;
    margin-left: 20px;
  }
  .model {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    border: 5px solid purple;
    box-sizing: border-box;
  }
  .reveal-spread-x {
    letter-spacing: 5px;
    font-size: 20px;
    /* text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.3); */
  }
  .reveal-spread-x.active {
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: 2s;
  }

  .model-txt {
    font-size: 2em;
    justify-content: center;
  }
  .phone-full {
    transform: translateX(-180px);
  }
  .loaded {
    transition: 2s;
    transform: translateX(0px);
    opacity: 1;
  }

  footer {
    height: 800px;
  }
  .footer-row {
    display: block;
    margin-top: 180px;
    left: 0;
  }
  .footer-col {
    margin: auto;
  }
  footer ul {
    position: relative;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  footer li {
    padding-bottom: 8px;
  }
  .find-us ul {
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-top: 20px;
    left:50px;
  }
  .find-us ul li {
    margin: auto;
  }
  i {
    font-size:3em;
    left: 0;
  }
}

  /* my IPHONE 12:  428px */
  @media screen and (max-width: 500px) {
    .what-wrapper {
      font-size: 22px;
      line-height: 1em;
    }
    .what-txt span {
      transition: none;
      margin: 30px;
    }

    .slogan-txt .are {
      left: 60px;
    }

    .object-wrapper {
      width: 350px;
      height: 350px;
    }
  }
}
